:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
  color: inherit; /* Esto asegura que los enlaces hereden el color del texto */
}

/* index.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; /* Puedes ajustar el color de fondo según tu preferencia */
  color: white; /* Esto es para el texto, asegúrate de que haya suficiente contraste */
}

.navbar-logo {
  font-size: 1.5rem; /* Tamaño del texto del logo */
  font-weight: bold;
}

.navbar-links {
  list-style: none; /* Eliminamos los puntos de la lista */
  display: flex;
  gap: 1rem; /* Espacio entre los enlaces */
  padding: 0;
  margin: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white; /* Asegúrate de que el color sea consistente */
  text-decoration: none;
  padding: 0.5rem 1rem; /* Padding para los enlaces */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.navbar-links a:hover {
  background-color: #555; /* Color de fondo al pasar el mouse */
  border-radius: 4px; /* Bordes redondeados */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1rem; /* Espacio entre el texto y el botón */
}

.user-info button {
  padding: 0.5rem 1rem; /* Ajusta el padding según tus necesidades */
  cursor: pointer;
  background-color: #f44336; /* Puedes elegir un color diferente para el botón de cerrar sesión */
  border: none;
  color: white;
  border-radius: 4px; /* Esto dará bordes redondeados al botón */
}

.container {
  display: flex;
  flex-direction: row;  /* Asegúrate de que está en fila */
  height: 100%;         /* Ajuste de altura según necesites */
  width: 100%;          /* Aprovecha todo el ancho disponible */
  box-sizing: border-box;
}

.iframe-container {
  flex: 0 0 50%;        /* No crece, no se encoge, 50% del espacio */
  height: 100%;         /* Toma todo el alto del contenedor */
  border: 1px solid black;
}

.graphics-container {
  flex: 1;              /* Toma el espacio restante */
  height: 100%;         /* Alinea la altura con el iframe */
  width: 100%;          /* Aprovecha todo el ancho disponible */
  flex-direction: column;
}